input[type=text] {
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 30%;
}

.SearchBar input {
     height: 35px;
     width: 250px;
	 text-align: center;
	 margin: 0 auto;
	 display:block;
}

input[type=submit] {
	height: 30px;
    width: 100px;
	margin-top:10px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
